@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  line-height: 1;
  color: #969696;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  min-height: 100vh; }

.ip-details-container {
  width: 70%;
  background-color: white;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
  position: absolute;
  z-index: 10;
  bottom: 0;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  box-shadow: 1px 1px 4px rgba(43, 43, 43, 0.2); }
  .ip-details-container .ip-details {
    border-right: 1px solid #969696; }
    .ip-details-container .ip-details:last-child {
      border: none; }
    .ip-details-container .ip-details-heading {
      text-transform: uppercase;
      color: #969696;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.8px;
      margin-bottom: 1.2rem; }
    .ip-details-container .ip-details-content {
      color: #2b2b2b;
      font-weight: 500;
      font-size: 2.4rem; }

@media screen and (max-width: 700px) {
  .ip-details-container {
    width: 90%;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
    padding: 2.4rem;
    text-align: center; }
    .ip-details-container .ip-details {
      border: none; }
      .ip-details-container .ip-details-heading {
        font-size: 1rem; }
      .ip-details-container .ip-details-content {
        font-size: 1.6rem; } }

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%; }
  .search-bar-input {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    outline: none;
    border-top-left-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    cursor: pointer; }
    .search-bar-input::placeholder {
      color: #969696; }
  .search-bar-btn {
    background-color: #2b2b2b;
    border: none;
    align-self: stretch;
    padding: 0.8rem 1.8rem;
    border-top-right-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    cursor: pointer; }
    .search-bar-btn img {
      width: 100%; }

@media screen and (max-width: 700px) {
  .search-bar {
    width: 90%; }
    .search-bar-input {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.4rem; } }

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  right: 0;
  font-size: 1rem; }

.section-header {
  background-image: url(./images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
  min-height: 30rem; }

.title {
  color: white;
  font-size: 3.2rem;
  font-weight: 500; }

@media screen and (max-width: 700px) {
  .section-header {
    justify-content: unset; }
  .title {
    font-size: 2.4rem; } }

#map {
  min-height: 70rem;
  z-index: 1; }
