// COLORS
//Primary
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);

// TYPOGRAPHY
$font-size-text: 1.8rem;
$font-wt-regular: 400;
$font-wt-medium: 500;
$font-wt-bold: 700;

// BORDER RADIUS
$border-radius-medium: 1.1rem;
$border-radius-large: 1.3rem;
