.search-bar {
  @include flex-center;
  width: 50%;

  &-input {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    outline: none;
    border-top-left-radius: $border-radius-medium;
    border-bottom-left-radius: $border-radius-medium;
    &::placeholder {
      color: $dark-gray;
    }
  }
  &-btn {
    background-color: $very-dark-gray;
    border: none;
    align-self: stretch;
    padding: 0.8rem 1.8rem;
    border-top-right-radius: $border-radius-medium;
    border-bottom-right-radius: $border-radius-medium;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .search-bar {
    width: 90%;
    &-input {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.4rem;
    }
  }
}
