.section-header {
  background-image: url(../../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3.2rem 0;
  @include flex-center(column);
  gap: 2.4rem;
  position: relative;
  min-height: 30rem;
}
.title {
  color: $white;
  font-size: 3.2rem;
  font-weight: $font-wt-medium;
}
